* {
  box-sizing: border-box;
}
:root {
  --Soft_red: hsl(10, 79%, 65%);
  --Cyan: hsl(186, 34%, 60%);
  --Dark_brown: hsl(25, 47%, 15%);
  --Medium_brown: hsl(28, 10%, 53%);
  --Cream: hsl(27, 66%, 92%);
  --pale_orange: hsl(33, 100%, 98%);
}
body {
  font-family: 'DM Sans', sans-serif;
  background-color: var(--Cream);
  justify-content: center;
  align-items: center;
}
h1,
h2,
h3,
h4 {
  margin-block: 0.25em;
}
.top-box {
  background-color: #fff;
  height: 5em;
  width: min(500px, 80%);
  margin-inline: auto;
  margin-top: 15vh;
}

.bot-box {
  background-color: #fff;
  height: 25em;
  width: min(500px, 80%);
  margin: 20px auto;
  padding: 2rem;
  position: relative;
}
.split {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0px;
  justify-content: space-between;
}
.split > * {
  flex-basis: 100%;
}
.left {
  align-self: flex-start;
}
.right {
  text-align: right;
  align-self: flex-end;
}
.attribution {
  text-align: center;
}
